* {
  font-family: poppins;
  font-size: 14.5px;
  margin: 0px;
  padding: 0px;
}
#navbar {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  box-shadow: #666666 0px 0.1px;
  background-color: white;
  justify-content: space-between;
}

#logo {
  background-image: url(https://zerodha.com/static/images/logo.svg);
  height: 17px;
  width: 130px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 110px;
}
#buttons {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
#signup {
  height: 65px;
  width: 87px;
  color: #666666;
  padding-top: 20px;
}
#signup:hover {
  color: #387ed1;
  cursor: pointer;
}
#about:hover {
  color: #387ed1;
  cursor: pointer;
}
#products:hover {
  color: #387ed1;
  cursor: pointer;
}
#support:hover {
  color: #387ed1;
  cursor: pointer;
}
#pricing:hover {
  color: #387ed1;
  cursor: pointer;
}
#about {
  height: 65px;
  width: 87px;
  color: #666666;
  padding-top: 20px;
}
#products {
  height: 65px;
  width: 87px;
  color: #666666;
  padding-top: 20px;
}
#support {
  height: 65px;
  width: 87px;
  color: #666666;
  padding-top: 20px;
}
#pricing {
  height: 65px;
  width: 87px;
  color: #666666;
  padding-top: 20px;
}
#menu {
  color: #666666;
  width: 70px;
  height: 43px;
  margin-top: 5px;
}
#men {
  font-size: 20px;
}
#image {
  height: 330px;
  width: 786px;
  background-image: url(https://zerodha.com/static/images/landing.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 60px;
  margin-top: 120px;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  flex-wrap: wrap;
  width: 100%;
}
#invest {
  color: #424242;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 50px;
}
#online {
  color: #424242;
  font-size: 20px;
  margin-top: -32px;
}
#sign {
  color: white;
  font-size: 20px;
  background-color: #387ed1;
  height: 44px;
  width: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-top: 22px;
}
#sign:hover {
  background-color: #2a2929;
  color: white;
}
#part2img {
  background-image: url(https://zerodha.com/static/images/largest-broker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 276px;
  width: 432.663px;
  margin-right: 20px;
}
#midpart {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;

  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  #midpart {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
}
@media screen and (max-width: 500px) {
  #part3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
}
@media screen and (max-width: 330px) {
  #midpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
#headingg {
  font-weight: 500;
  font-size: 35px;
  color: #424242;
}
#para {
  margin-top: -10px;
  font-size: 16px;
  color: #424242;
}
#listt {
  display: flex;
  margin-top: -20px;

  color: #424242;
  font-size: 16px;
}
#l2 {
  margin-left: 20px;
}
li {
  margin: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#img {
  background-image: url(https://zerodha.com/static/images/press-logos.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 528px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: -12px;
}
#img2 {
  background-image: url(https://zerodha.com/static/images/ecosystem.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  margin-top: 50px;
  margin-left: 50px;
}

#part3 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  #part3 {
    display: flex;
    flex-direction: column;
  }
  #buttons {
    display: none;
  }
}
#texxt {
  color: #666666;
  font-size: 16px;
  font-weight: 350;
  margin-top: -50px;
  font-family: poppins;
}
#trust {
  font-size: 32px;
  color: #424242;
  font-weight: 500;
  margin-bottom: 70px;
}

.bolde {
  font-size: 20px;
  color: #424242;
  font-weight: 500;
}

#explore {
  margin-left: 50px;
}
.blue {
  color: #387ed1;
}
.blue:hover {
  color: #424242;
  cursor: pointer;
}

/* Spark */
